# Environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Firebase credentials
firebase-credentials.json
**/firebase-credentials.json
*-credentials.json
**/*-credentials.json

# Dependencies
/node_modules
**/node_modules
__pycache__/
**/__pycache__/
*.py[cod]

# Build files
/build
**/build
/dist
**/dist
.DS_Store