# Environment variables
.env
.env.example
**/.env

# Firebase credentials
firebase-credentials.json
**/firebase-credentials.json

# Dependencies
/node_modules
**/node_modules
__pycache__/
**/__pycache__/
*.py[cod]

# Build files
/build
**/build
/dist
**/dist
.DS_Store